<div class="top-nav">
    <div class="status-wrap">
        <div class="status">
            <div class="status-type">Active</div>
            <div class="quantity">255</div>
        </div>
        <div class="status">
            <div class="status-type">Blocked</div>
            <div class="quantity">255</div>
        </div>
        <div class="status">
            <div class="status-type">Confirmed</div>
            <div class="quantity">255</div>
        </div>
    </div>
    <div class="notifications-profile">
        <div class="notifications">
            <img src="assets/img/Icons_notification_ico.svg" alt="Notification icon">
            <div class="number">8</div>
        </div>
        <div class="profile">
            <img class="profile-img" [src]="avatar" alt="Avatar">
            <div class="profile-name">WarsztatA12</div>
            <img class="profile-arrow" src="assets/img/Icon_Form_Arrow_down_ico.svg" alt="Arrow down icon">
        </div>
    </div>
</div>