.user-edit-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumbs {
    margin-bottom: 1px;
}

.user-fullname {
    font-size: 22px;
    color: #325395;
}

.buttons {
    margin-right: 12px;
    app-primary-button {
        margin-left: 33px;
        &:first-child {
            margin-left: 0;
        }
    }
}

.delete {
    &::ng-deep {
        .primary-button {
            padding-left: 28px;
            padding-right: 27px;
        }
    }
}

.user-edit-bottom {
    margin-top: 18px;
}