<mat-tab-group animationDuration="0ms" [selectedIndex]="1">
  <mat-tab label="Logs" #tab [disabled]="!tab.isActive">
    <div class="tab-content">Logs content</div>
  </mat-tab>
  <mat-tab label="Permissions">
    <div class="tab-content">
      <div class="top-content">
        <div class="user-role"><span>Role: </span> Performer</div>
        <div class="select-wrap">
          <div class="label">Assign role</div>
          <div class="select-container">
            <div class="selected-items">
              <div class="selected-item">
                <div class="selected-name">Performer</div>
                <div class="cross"></div>
              </div>
            </div>
            <img
              class="arrow-down"
              src="assets/img/Icon_Form_Arrow_down_ico.svg"
              alt="Down arrow"
            />
          </div>
        </div>
      </div>
      <form [formGroup]="profileForm" class="permission-form">
        <div class="form-labels">
          <div class="form-label">Object</div>
          <div class="form-label">Action</div>
        </div>
        <input type="text" class="add-object" placeholder="Add object +" (keyup.enter)="addObjects($event)" />

        <div class="objects" formArrayName="objects" *ngIf="true">
            <div
              class="object"
              *ngFor="let object of objects.controls; let i = index"
            >
              <div class="object-name">{{ object.value.name }}</div>
              <div class="permissions">
                <button type="button" class="permission-button btn-green" [class.active]="object.value.permissions.create" (click)="object.value.permissions.create = !object.value.permissions.create">
                  Create
                </button>
                <button type="button" class="permission-button btn-blue" [class.active]="object.value.permissions.read" (click)="object.value.permissions.read = !object.value.permissions.read">
                  Read
                </button>
                <button type="button" class="permission-button btn-yellow" [class.active]="object.value.permissions.update" (click)="object.value.permissions.update = !object.value.permissions.update">
                  Update
                </button>
                <button type="button" class="permission-button btn-red" [class.active]="object.value.permissions.delete" (click)="object.value.permissions.delete = !object.value.permissions.delete">
                  Delete
                </button>
              </div>
            </div>
          </div>
      </form>
    </div>
  </mat-tab>
</mat-tab-group>
