@import '../../../../assets/css/mixins/mixins.scss';

.mat-tab-group {
    width: 946px;
    height: 929px;
    border: 1px solid #dbdde0;
    border-radius: 2px;
    margin-bottom: 20px;
    font-family: "rubik";

    &::ng-deep {
        .mat-tab-label {
            opacity: 1;
            font-weight: 400;
            color: #252629;
            &.mat-tab-label-active {
                .mat-tab-label-content {
                    font-weight: 500;
                }
            }
        }
        &.mat-tab-disabled {
            cursor: not-allowed;
            color: #9b9fa8;
        }
        .mat-ink-bar {
            background-color: #5e92fc;
            height: 3px;
        }
    }
    .tab-content {
        padding: 10px 16px 10px;
    }
    .top-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.label {
    font-size: 11px;
    color: #252629;
    margin-left: 10px;
    margin-bottom: 3px;
}

.user-role {
    font-size: 18px;
    color: #325395;
    span {
        font-size: 16px;
        color: #5e92fc;
        font-weight: 500;
        margin-left: 7px;
        display: inline-block;
    }
}

.select-wrap {
    .select-container {
        position: relative;
    }
    .selected-items {
        width: 330px;
        height: 36px;
        border-radius: 2px;
        border: 1px solid #ced3db;
        padding: 5px 9px;
        cursor: pointer;
    }
    .selected-item {
        width: 122px;
        height: 24px;
        border-radius: 2px;
        background-color: #dbdde0;
        font-size: 11px;
        color: #252629;
        position: relative;
    }
    .selected-name {
        padding: 6px 0 6px 9px;
        cursor: default;
    }
    .cross {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        right: 7px;
        cursor: pointer;
        &::before {
            position: absolute;
            content: "";
            background-color: #6e7c98;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 12px;
            width: 1px;
            margin: auto;
            transform: rotate(45deg);
        }
        &::after {
            position: absolute;
            content: "";
            background-color: #6e7c98;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 12px;
            width: 1px;
            margin: auto;
            transform: rotate(-45deg);
        }
    }
    .arrow-down {
        width: 11px;
        height: 7px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 15px;
        margin: auto 0;
        pointer-events: none;
    }
}

.permission-form {
    margin-top: 26px;
}

.form-labels {
    font-weight: 500;
    color: #252629;
    display: flex;
    padding: 22px 0 13px 54px;
    border-top: 1px solid #dbdde0;
    border-bottom: 1px solid #9ea1a8;
}

.form-label {
    width: 50%;
}

.add-object {
    width: 100%;
    height: 44px;
    background-color: #f3f4f5;
    font-weight: 500;
    color: #6a6d75;
    border: none;
    border-bottom: 1px solid #dbdde0;
    outline: none;
    padding-left: 28px;
    font-family: 'rubik';
}

.objects {
    
    .object {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dbdde0;
        padding-left: 60px;
    }
    .object-name {
        padding: 16px 0 16px 0;
        font-weight: 500;
        width: 50%;
    }
}

.permissions {
    display: flex;
}

.permission-button {
    padding: 7px 21px 8px 20px;
    border-radius: 2px;
    fill: #dbdde0;
    border: none;
    border-radius: 2px;
    background-color: #dbdde0;
    margin-left: 8px;
    width: 50%;
    font-family: 'rubik';
    font-size: 11px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;

    &:first-child {
        margin-left: 0;
    }
    &.active {
        &.btn-green {
            background-color: rgba(#68bb4b, .32);
        }
        &.btn-blue {
            background-color: rgba(#5e92fc, .32);
        }
        &.btn-yellow {
            background-color: rgba(#fabb2b, .32);
        }
        &.btn-red {
            background-color: rgba(#e5322c, .32);
        }
    }
    @include hover {
        &.btn-green {
            background-color: rgba(#68bb4b, .32);
        }
        &.btn-blue {
            background-color: rgba(#5e92fc, .32);
        }
        &.btn-yellow {
            background-color: rgba(#fabb2b, .32);
        }
        &.btn-red {
            background-color: rgba(#e5322c, .32);
        }
    }
}